body{
    font-size: 1.3rem;
}
body{
    overflow: scroll;
overflow-x: hidden;
}
::-webkit-scrollbar {
width: 0px; 
}

header img.img-fluid{
    height: 8vh !important;
}
.col-12{
    background-color: #ece8e8d7;
}
.btn{
    background-color: rgb(170, 16, 16);
    border: black;
}
.btn:hover{
    background-color: orange;
}